#about_blue {
	background-color: #6495ED;
	border-size:3px;
	border-style:solid;
	border-color:black;
}
#about_blue ul{
	color: blue;
}



.important {
	font-size: 16px;
	font-weight: bold;
}



#about_yellow {
	background-color: #FFEBCD;
	border-size:3px;
	border-style:solid;
	border-color:black;
	margin: 15px 0px 0px 0px;
}
#about_yellow ul{
	color: orange;
}


.nav a{
	color: white;
}
.nav li{
	background-color: red; 
}